html { 
  background: url(https://assets.wallpapersin4k.org/uploads/2017/04/White-Minimal-Wallpaper-7.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



body{
   font-family: sans-serif;
   
   height:100%;
   
}
.img{
  height: 20%;
  width: 20%;
}
@media (max-width:560px){
  .img{
    height: 50%;
    width: 60%;
  }
}
p{
  color:black;
  font-family: sans-serif;
  margin: auto;
  align-items: center;
  text-align: center;
  top: 3vh;
  font-size: xx-large;
}
@media (max-width:560px){
  p{
    font-size: large;
  }
}

.in-head{
  margin-bottom: 40px;
padding-bottom: 30px;
}

/* @media (max-height:560px){
     
     .fa-arrow-up{
       display: none;
      height: 2px;
      width: 3px;
     }
     
     .wrapper .file-upload{
       height: 50px;
       width: 50px;
       display: none;
     }
     .wrapper .file-upload input[type=file]{
       height: 50px;
       width: 50px;
     }
} */
.wrapper {
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.wrapper .file-upload {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #fafbf5 50%, #FFFFFF 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: black;
  font-size: 50px;
}
.wrapper .file-upload input[type=file] {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
/* @media(max-height:560px){
  .card1{
    height: 70vh;
    width: 60vh;
  }
.wrapper{
  width: 10%;
  height: 10%;
}
.wrapper .file-upload{
  height: 30px;
  width: 30px;
}
.wrapper.file-upload input[type=file]{
  height: 30px;
  width: 30px;
}
}*/
.wrapper .file-upload:hover {
  background-position: 0 -100%;
  color: #aaa4a0;
  border: 3px solid #aaa4a0;
} 
.card1{
  
  /* background-color: #2590EB;; */
  background-color:#fafafa;
  background: linear-gradient(90deg, #fbfbf9 , #Fcfcfa );
  width: 70vh;
  height: 60vh;
  align-items: center;
  text-align: center; 
  border-radius:  25px;
  border: 0px solid #fff;
  padding: 15px;
  box-shadow: 0px 5px 2px #dad9d4;
  z-index: 1;
}
@media(max-width: 1060px){
  .card1{
    width: 45vh;
    height: 50vh;
  }
}
@media (max-width: 560px){
  .card1{
    width: 40vh;
    height: 60vh;
  }
}
@media(max-height : 600px){
  .card1{
    top:180px;
    height: 50%;
  }
  .btn-1{
margin-top: 12px;
font-size: small;
  }
  .wrapper{
    width: 20%;
    height: 10%;
  }
  .wrapper .file-upload{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    font-size: small;
    margin:auto;
  }
  .wrapper .file-upload input[type='file']{
    height: 30px;
    width: 30px;
  }
}
@media(max-height: 420px){
  .card1{
    position: relative;
    top: 45px;
  }
}
@media(max-width: 400px){
.card1{
  position: relative;
  top:25px
}
}
btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	
	cursor: pointer;
	padding: 0px;
  margin: 0px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  border-radius: 10%;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before
 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
.btn-1 {
  background-color: #fafbf5;
  border: 3px solid black;
	color: black;
  width: auto;
  height: auto;
  /* margin: auto; */
  border-radius: 25px;
  margin-bottom: 50px;
  padding: 10px;
}
@media(max-height:600px){
  .btn-1{
    margin-bottom: 20px;
  }
  .btn-2b {
    margin-top: 0px;
  }
}
.btn-1a:hover,
.btn-1a:active {
	color: #aaa4a0;
	background: #fff;
  border: 3px solid #aaa4a0;
}
.btn-2{
  background-color: #fafbf5;
  border: 3px solid black;
	color:black;
  width: 14vh;
  height: 6vh;
  margin: auto;
  border-radius: 25px;
}
.btn-2b:hover,
.btn-2b:active{
  color:#aaa4a0;
  background:white;
  border: 3px solid #aaa4a0;
}


  .modal-content{
  background-color: #aaa4a0;
  color: black;
  width: 100%;
  padding: 15px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  max-width: 560px;
  margin:auto;
  border-radius:  25px;
  border: 0px solid #fcfcfc;
  padding: 15px;
  box-shadow: 10px 10px 5px gray;
  
  }
  @media(max-width:560px){
    .modal-content{
      max-width: 340px;
    }
  }
  
 
  

  .modal1{
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(15, 15, 15, 0.4);
    font-family: sans-serif;
    
    box-shadow: 10px 10px 5px grey;
    }
    .modal-close1{
      font-size: 20px;
      float: right;
      font-weight: 700;
      color: #ffffff;
      font-size: 25px;
      margin-top: -10px;
      transition: all .2s;
      cursor: pointer;
      width: auto;
      }
      .modal-close1:hover{
      color: #3b3b3b;
      }
      .modal-text1{
        text-align: center;
        color:#ffffff;
        }
        .modal-text1 h2{
        font-size: 24px;
        font-weight: 600;
        font-family: Lato;
        }
        .modal-text1 p{
        font-size: 17px;
        margin-top: -15px;
        margin-bottom: 50px;
        font-family: Lato;
        }
        .spinner{
          top: 40%;
          left: 0;
          right: 0;
          bottom: 0;
          width:100px;
          height:100px;
          margin:30px auto;
          position:fixed;
          z-index: 99999;
          opacity: 1;
          -webkit-animation: rotateit 1.3s linear 2;
          -moz-animation: rotateit 1.3s linear 2;
          animation: rotateit 1.3s linear 2;
     }
     @-webkit-keyframes rotateit {
          from {
               -webkit-transform: rotate(360deg);
          }
          to {
               -webkit-transform: rotate(0deg);
          }
     }
     @-moz-keyframes rotateit {
          from {
               -moz-transform: rotate(360deg);
          }
          to {
               -moz-transform: rotate(0deg);
          }
     }
     @keyframes rotateit {
          from {
               transform: rotate(360deg);
          }
          to {
               transform: rotate(0deg);
          }
     }
     .spinner.circles div{
      width: 20px;
      height: 20px;
      border-radius:50%;
      background: black;
      position: absolute;
      top: 35px;
      left: 45px;
      
 }
 .spinner_overlay {

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.7;
  z-index: 1000;
}
 .spinner.circles div:nth-child(1){
      -webkit-transform: rotate(0deg) translate(0, -35px) scale(1.4);
      -moz-transform: rotate(0deg) translate(0, -35px) scale(1.4);
      transform: rotate(0deg) translate(0, -35px) scale(1.4);
 }
 .spinner.circles div:nth-child(2){
      -webkit-transform: rotate(45deg) translate(0, -35px) scale(1.2);
      -moz-transform: rotate(45deg) translate(0, -35px) scale(1.2);
      transform: rotate(45deg) translate(0, -35px) scale(1.2);
      opacity:0.7;
 }
 .spinner.circles div:nth-child(3){
      -webkit-transform: rotate(90deg) translate(0, -35px) scale(1.1);
      -moz-transform: rotate(90deg) translate(0, -35px) scale(1.1);
      transform: rotate(90deg) translate(0, -35px) scale(1.1);
      opacity:0.6;
 }
 .spinner.circles div:nth-child(4){
      -webkit-transform: rotate(135deg) translate(0, -35px) scale(0.9);
      -moz-transform: rotate(135deg) translate(0, -35px) scale(0.9);
      transform: rotate(135deg) translate(0, -35px) scale(0.9);
      opacity:0.5;
 }
 .spinner.circles div:nth-child(5){
      -webkit-transform: rotate(180deg) translate(0, -35px) scale(0.7);
      -moz-transform: rotate(180deg) translate(0, -35px) scale(0.7);
      transform: rotate(180deg) translate(0, -35px) scale(0.7);
      opacity:0.4;
 }
 .spinner.circles div:nth-child(6){
      -webkit-transform: rotate(225deg) translate(0, -35px) scale(0.5);
      -moz-transform: rotate(225deg) translate(0, -35px) scale(0.5);
      transform: rotate(225deg) translate(0, -35px) scale(0.5);
      opacity:0.3;
 }
 .spinner.circles div:nth-child(7){
      -webkit-transform: rotate(270deg) translate(0, -35px) scale(0.3);
      -moz-transform: rotate(270deg) translate(0, -35px) scale(0.3);
      transform: rotate(270deg) translate(0, -35px) scale(0.3);
      opacity:0.2;
 }
 .spinner.circles div:nth-child(8){
      -webkit-transform: rotate(315deg) translate(0, -35px) scale(0.1);
      -moz-transform: rotate(315deg) translate(0, -35px) scale(0.1);
      transform: rotate(315deg) translate(0, -35px) scale(0.1);
      opacity:0.1;
 }


 .footer{
   position: fixed;
   bottom: 40px;
   right: 50px;
   
 }
 .footer p{
   font-size: small;
 }